<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>catch! I catch {{ first }}</p>
    <form action="/third/" method="GET">
        <label for="second1">and throw!</label>
        <input type="second1" name="second1" id="second1">
        <label for="second2">twice!</label>
        <input type="second2" name="second2" id="second2">
        <input type="submit" value='휙'>
    </form>
</body>
</html>