<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    li {
      padding: 10px;
      border: 1px solid #ccc;
      margin: 10px 0;
      background-color: #f5f5f5;
    }
    .cheap {
      background-color: #e1f7e1;
    }
    .expensive {
      background-color: #f7e1e1;
    }
  </style>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
    <h1>다양한 전시 정보</h1>
    <label for="isActive">전시 중인 정보만 보기</label>
    <input type="checkbox" id="isActive" v-model="isActive">
    <ul>
        <li v-for="info in isActiveExhibition" :key="info.title">
          <h3> {{ info.title }} </h3>
          <hr>
          <p>{{ info.location }}</p>
          <p>가격 : {{ info.price }}</p>
          <hr>
        </li>
    </ul>
  </div>

  <script>
    /*
			1. 주어진 전시 정보를 객체에 담고, 모든 객체를 하나의 배열에 할당하시오.
      2. 전시 정보가 True인 경우만 filtering한 배열을 반환하는 isActiveExhibition computed 함수를 작성한다.
      3. 전시 중인 정보만 볼 것인지 체크하는 변수 isActive를 작성한다.
				- checkBox의 값과 양방향 바인딩 되어야 한다.
        - isActive가 True인 경우, isActiveExhibition 배열을 화면에 렌더링한다.
        - 아닌경우, 모든 객체 정보를 담고 있는 배열을 화면에 렌더링한다.
    */
    const { createApp, ref, computed } = Vue
   const app = createApp({
    setup() {
        const Info = ref([
            {title: '무라카미 다카시 : 무라카시좀비',
            location: '부산 시립 미술관',
            price: 1000,
            isComplete : true
            },

            {title: '마우라치오 카텔란 개인전',
            location: '리움 미술관',
            price: 30000,
            isComplete : true
            },

            {title: '조선백자전',
            location: '리움 미술관',
            price: 30000,
            isComplete : true
            },

            {title: '한국 실험미술 1960 - 1970',
            location: '국립현대미술관',
            price: 0,
            isComplete : true
            },

            {title: '에드워드 호퍼 : 길 위에서',
            location: '서울 시립 미술관',
            price: 1000,
            isComplete : false
            },

            {title: '알렉산더 칼더 x 이우환',
            location: '국제갤러리 서울점',
            price: 15000,
            isComplete : false
            },
        ])

        const isActiveExhibition = computed(() => {
            if (isActive.value) {
                return Info.value.filter((item) => {return item.isComplete === true})
            }   else {
                return Info.value
            }
        })

        const isActive = ref(false)

        return {
            Info,
            isActiveExhibition,
            isActive,
        }

    }
   })
   app.mount('#app')
  </script>
</body>
</html>
