.container{
    width: 800px;
    height: 800px;
    border: 1px solid black;
    display: flex;
}
.white{
    width: 100px;
    height: 100px;
    background-color: white;
}

.black{
    width: 100px;
    height: 100px;
    background-color: black;
}
.im{
    width: 100px;
}
.queen{
    width: 100px;
    background-color: black;
}